<div class="container">
  
    <!-- Icône de fermeture dans l'en-tête -->
    <div class="modal-header">
      <a class="btn-back" pButton pRipple icon="pi pi-arrow-left" (click)="backToList()"></a>
   
        <h1 class="title">Ajout Categorie</h1>
       
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
           
        <div *ngIf="overlayStatus" class="overlay">
          <!-- Contenu de ton overlay ici -->
          <button class="overlay-close" (click)="overlayStatusFct()"></button>
        </div>
        </div>
<div class="form-area add-partner-modal-body">
    <form [formGroup]="addCategorieForm">
      <!-- Name Input -->
      <div  class="form-style-1 input-item-bloc">
        <input
          id="name"
          class="flex-auto"
          formControlName="name"
          placeholder="Nom *"
          autocomplete="off"
          maxlength="100"
        />
        <span class="error" *ngIf="attemptSubmission && addCategorieForm.controls['name'].hasError('required')">
        Nom est obligatoire !
        </span>
      </div>
  
      <!-- Description Input -->
      <div class="form-style-1 input-item-bloc">
        <input
          id="description"
          class="flex-auto"
          formControlName="description"
          placeholder="Description *"
          autocomplete="off"
        />
        <span class="error" *ngIf="attemptSubmission && addCategorieForm.controls['description'].hasError('required')">
        Description est obligatoire ! 
        </span>
      </div>
  
      <!-- Image Upload -->
      <div class="form-style-1 input-item-bloc">
        <label for="image" class="label-file">Choisir une icône *</label>
        <input
          id="image"
          class="input-file"
          type="file"
          (change)="uploadImage($event)"
        />
        <span class="error" *ngIf="attemptSubmission && (!this.imageUrl || !this.imageUrl.length)">
         Icon est obligatoire !
        </span>
      </div>
  
      <!-- Image Preview -->
      <div class="form-style-1" *ngIf="imageUrl">
        <div class="gallerie">
          <div class="gallerie__item">
            <img class="img-image" [src]="imageUrl" alt="image de blog" />
            <i class="pi pi-times" (click)="removeImage()"></i>
          </div>
        </div>
      </div>
  
      <!-- File Upload -->
      <div class="form-style-1 input-item-bloc">
        <label for="file" class="label-file">Choisir une image *</label>
        <input
          id="file"
          class="input-file"
          type="file"
          (change)="uploadFile($event)"
        />
        <span class="error" *ngIf="attemptSubmission && (!fileUrl || !fileUrl.length)">
          Image est obligatoire !  </span>
      </div>
  
      <!-- File Preview -->
      <div class="form-style-1" *ngIf="fileUrl">
        <div class="gallerie">
          <div class="gallerie__item">
            <img class="img-image" [src]="fileUrl" alt="icon de blog" />
            <i class="pi pi-times" (click)="removeFile()"></i>
          </div>
        </div>
      </div>
    </form>
  
    <!-- Buttons -->
    <div class="add-partner-modal-buttons">
      <button class="btn btn-cancel" (click)="closeModal()">Annuler</button>
      <button class="btn btn-primary submit" (click)="addCategorie()">Ajouter</button>
    </div>
  </div>
</div>
