<!-- home.component.html -->
<nav class="navbar">
  <div class="logo">
    <img  src="/logo-pocketJob.png" alt="Logo" routerLink="/home/acceuil">
  </div>

  <button class="menu-toggle" (click)="toggleMenu()">
    <i class="bx bx-menu"></i>
  </button>

  <ul class="nav-links" [class.active]="menuOpen">
    <li class="close-icon">
      <i class="bx bx-x" (click)="toggleMenu()"></i>
</li>
    
    <li><a routerLink="/home/acceuil">Accueil</a></li>
    <li><a routerLink="/home/offres">Offres d'emploi</a></li>
    <li><a routerLink="/home/homeRegister/registerUser">Mon Compte</a></li>
    <li><a routerLink="/home/loginUser" (click)="openLogin()">Se connecter</a></li>
     <li><button class="btn-yellow">EMPLOIS</button></li>
    <li><img class="flag" src="/image/tn-flag.jpg" alt="Tunisian Flag"></li>
  </ul>
</nav>
