/* Basic Table Styling */
.p-table th, .p-table td {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0.75rem;
}

.p-table td img.img-thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.p-table .badge-ref {
  background-color: #003366;
  color: #fff;
  padding: 4px 10px;
  border-radius: 50px;
}


/* Badge Style for Employer Reference */
.badge-ref {
  display: inline-block;
  background-color: #3364c6; /* Primary color */
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
  font-weight: bold;
  text-align: center;
}
.img-thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Button Styles */
.btn-primary {
  background-color: #3364c6;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: darken(#3364c6, 10%);
    transform: scale(1.05);
  }

  &.right {
    float: right;
  }
}



/* Action Button Styles */
.btn-icon {
  background-color: transparent;
  border: none;
  color: #3364c6;
  transition: transform 0.3s ease, color 0.3s ease;

  &:hover {
    transform: scale(1.1);
    color: darken(#3364c6, 10%);
  }
}

/* Status Dropdown */
.status-ACTIVE {
  color: rgb(0, 0, 0);
}

.status-PENDING {
 
  color: rgb(0, 0, 0);
}

.status-DISABLED {
  color: rgb(0, 0, 0);
}

.status-BLOQUE {
  background-color: #dc3545;
  color: white;
}

.status-SUSPENDU {
  background-color: #17a2b8;
  color: white;
}

.status-SUPPRIME {
  background-color: #343a40;
  color: white;
}

/* Mobile Responsiveness */
@media (max-width: 767px) {
  .p-table thead th {
    font-size: 12px;
  }

  .p-table tbody td {
    font-size: 14px;
  }

  .btns-group {
    flex-direction: column;
    margin-top: 15px;
  }

  .btn-primary {
    width: 100%;
    margin-bottom: 10px;
  }
}
