<div class="body">
  <div class="list-orders-item-area">
    <div class="introduction-area">
      <div class="p-d-flex p-jc-between">
        <div class="big-title-blc">
          <h1 class="big-title">Liste des Employeurs / Entreprises</h1>
        </div>
        <div class="btns-group two-btns" style="text-align: end">
          <button class="btn-primary" pButton pRipple icon="pi pi-plus" label="Ajouter" (click)="openAddEmployerModal()"></button>
        </div>
      </div>
    </div>
    <div class="table-area">
      <div class="card">
        <div class="card-body">
          <p-table
            [value]="employer"
            [first]="first"
            [paginator]="false"
            [lazy]="false"
            [rows]="per_page"
            [totalRecords]="total"
            [rowsPerPageOptions]="[5, 10, 20]"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées"
            (onLazyLoad)="lazyLoad($event)">

            <ng-template pTemplate="caption">
              <div class="form-area btn-div">
                <div class="p-input-icon-left ml-auto form-style-1 mb-4">
                  <input type="text" (input)="search($event)" placeholder="Mot-clé de recherche" />
                </div>
              </div>
            </ng-template>

            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="id">Réf<p-sortIcon field="id" /></th>
                <th pSortableColumn="image">Image</th>
                <th pSortableColumn="name">Nom_Entreprise</th>
                <th pSortableColumn="domaine">Domaine<p-sortIcon field="domaine" /></th>
                <th pSortableColumn="Type">Type Professionnel<p-sortIcon field="type" /></th>
                <th pSortableColumn="diploma">Diplôme<p-sortIcon field="diploma" /></th>
                <th pSortableColumn="adresse">Adresse</th>
                <th pSortableColumn="qualification">Qualification<p-sortIcon field="qualification" /></th>
                <th pSortableColumn="creator">Créé par <p-sortIcon field="creator" /></th>
                <th pSortableColumn="email">E-mail</th>
                <th pSortableColumn="phone">Téléphone</th>
                <th pSortableColumn="status">Statut</th>
                <th pSortableColumn="created_at">Date de création</th>
                <th class="text-center">Actions</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-employer let-rowIndex="rowIndex">
              <tr>
                <td><span class="badge-ref">{{ rowIndex + 1 }}</span></td>
                <td>
                  <img *ngIf="employer.image" 
                  [src]="'http://127.0.0.1:8000/storage/' + employer.image" 
                  alt="Logo"
                  class="img-thumbnail"
                  onerror="this.src='assets/img/image-placeholder.png'" />
             
                </td>
                <td>
                  {{ employer.lastname }} {{ employer.firstname }}
                </td>
                
                 <td>{{ employer.domaine }}</td>
                <td>{{ employer.typeProfessionnel }}</td>
                <td>
                  <a *ngIf="employer.diplome" [href]="'/storage/' + employer.diplome" target="_blank">
                    📄 {{ employer.diplome.split('/').pop() }}
                  </a>
                </td>
                
                <td>{{ employer.adresse }}</td>
             
                <td>{{ employer.qualification || 'Non défini' }}</td>

                <td>{{ employer.creator?.firstname }} {{ employer.creator?.lastname }}</td>
                <td>{{ employer.email }}</td>
                <td>{{ employer.phone }}</td>
                <td>
                  <p-dropdown
                    [options]="allStatus"
                    [ngModel]="employer.status"
                    (onChange)="updateEmployerStatus(employer.id, $event)"
                    optionLabel="name"
                    optionValue="value"
                    [class]="'status-' + employer.status">
                  </p-dropdown>
                </td>
                <td>{{ employer.created_at | date: 'dd/MM/yyyy' }}</td>
                <td class="text-center">
                  <button type="button" pButton icon="pi pi-eye" pTooltip="Détails" tooltipPosition="left" class="btn-icon btn-icon--outlin-primary" (click)="EmployerDetails(employer.id)"></button>

                  <button type="button" pButton icon="pi pi-pencil" pTooltip="Modifier" tooltipPosition="left" class="btn-icon btn-icon--outlin-primary" (click)="openUpdateEmployerModal(employer)"></button>

                  <button *ngIf="employer.status !== 'DELETED'" pButton type="button" icon="pi pi-trash" tooltip="Supprimer" tooltipPosition="top" class="btn-icon btn-icon--outlin-primary" (click)="deleteEmployer(employer)"></button>

                  <button *ngIf="employer.status === 'DELETED'" pButton icon="pi pi-replay" tooltip="Restaurer" tooltipPosition="top" class="btn-icon btn-icon--outlin-success" (click)="restoreEmployer(employer.id)"></button>

                  <button *ngIf="employer.status === 'DELETED'" pButton icon="pi pi-times" tooltip="Suppression définitive" tooltipPosition="top" class="btn-icon btn-icon--outlin-danger" (click)="confirmPermanentDelete(employer.id)"></button>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <tr *ngIf="!loading && employer.length === 0">
                <td colspan="14" class="text-center">Aucun employeur trouvé</td>
              </tr>
              <tr *ngIf="loading">
                <td colspan="14">
                  <p-skeleton width="100%" height="2rem"></p-skeleton>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>

  <app-add-employer [(visible)]="showAddEmployer" (employerAdded)="onEmployerAdded($event)"></app-add-employer>
  <app-update-employer [(visible)]="updateEmployer" [employerData]="selectedEmployerToUpdate" (employerUpdated)="employerUpdated()"></app-update-employer>
</div>