<div class="dashboard-container">
  <h2>Tableau de bord</h2>
  <p>Sélectionner vos offres d'emploi</p>

  <div *ngFor="let offer of offers" class="offer-card">
    <div class="offer-info">
      <div>
        <div class="dates">Du {{ offer.start }} au {{ offer.end }} à {{ offer.location }}</div>
        <div class="title">
          <a [routerLink]="['/offres/details', offer.id]">
            <strong>{{ offer.title }}</strong> <span>{{ offer.event }}</span>
          </a>
        </div>
      </div>
      <div class="right-part">
        <span class="amount">environ {{ offer.amount }} €</span>
        <span class="arrow" routerLink="/home/Offre-emploi-user">➤</span>
      </div>
    </div>
  </div>
</div>
