/* # Forms Inscription ::
------------------------------------*/
/**/
.form-style_password-item {
    position: relative;
    .btn-showhide-password {
        position: absolute;
        top: 14px;
        right: 10px;
    }
}