<div class="dashboard-page">
    <div class="grid gtc-4 gcg-3">
      <div class="grid-blc">
        <div class="dashboard-header">
          <div class="dashboard-header_title-blc">
            <h2 class="dashboard-header_title">Bienvenue à PocketJob</h2>
            <p class="dashboard-header_title-desc">Bonjour, Bon retour!</p>
          </div><!--.dashboard-header_title-blc-->
        </div><!--.dashboard-header-->
      </div><!--.grid-blc-->
    </div><!--.grid-->
    
    <div class="general-statistics-area">
      <div class="general-statistics-item">
        <div class="general-statistics_title">Total des emplois</div>
        <div class="general-statistics_value">1350</div>
      </div>
      <div class="general-statistics-item">
        <div class="general-statistics_title">Candidats</div>
        <div class="general-statistics_value">500</div>
      </div>
      <div class="general-statistics-item">
        <div class="general-statistics_title">Offres Actuelles</div>
        <div class="general-statistics_value">320</div>
      </div>
      <div class="general-statistics-item">
        <div class="general-statistics_title">Employeurs</div>
        <div class="general-statistics_value">150</div>
      </div>
    </div><!-- .general-statistics-area -->
    
    <div class="chart-area">
      <canvas id="chart"></canvas>
    </div><!-- .chart-area -->
  </div><!-- .dashboard-page -->
  