<div class="list-orders-item-area users-area">
  <div class="introduction-area">
    <div class="p-d-flex p-jc-between">
      <div class="big-title-blc">
        <h1 class="big-title">Liste des Candidats</h1>
      </div>
      <div class="btns-group two-btns">
        <button
        class="btn-primary"
        pButton
        pRipple
        label="Ajouter"
        icon="pi pi-plus"
        (click)="addChatCandidat()"
      ></button>
      </div>
    </div>
  </div>

  <div class="table-area groups-table">
    <div class="card">
      <div class="card-body">
        <p-table
          [value]="candidats"
          responsiveLayout="stack"
          [first]="first"
          [breakpoint]="'960px'"
          [paginator]="true"
          [lazy]="true"
          [rows]="per_page"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[1, 5, 10, 20]"
          [totalRecords]="total"
          (onLazyLoad)="lazyLoad($event)"
          currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées"
        >
          <ng-template pTemplate="caption">
            <div class="recherche-blc form-area">
              <span class="p-input-icon-left ml-auto form-style-1">
                <input
                  type="text"
                  placeholder="Mot-clé de recherche"
                  (input)="search($event)"
                />
              </span>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th  class="reference-col" pSortableColumn="id">
                Référence
                <p-sortIcon field="id" class="sort-icon">

                </p-sortIcon>
              </th>
              <th class="name-col" pSortableColumn="title">
                Nom <p-sortIcon field="name" class="sort-icon">
                </p-sortIcon>
              </th>
              <th pSortableColumn="email">
                Email
                <p-sortIcon field="email" class="sort-icon"></p-sortIcon>
             </th>
              <th pSortableColumn="diploma">
                Diplôme
                <p-sortIcon field="diploma" class="sort-icon"></p-sortIcon>
              </th>
              <th>Téléphone</th>
              <th pSortableColumn="status">
                Status
                <p-sortIcon field="status" class="sort-icon"></p-sortIcon>
              </th>
              <th pSortableColumn="date">
                Date d'inscription
                <p-sortIcon field="date" class="sort-icon"></p-sortIcon>
              </th>
              <th class="text-center">Actions</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" 
          let-candidat 
          let-rowIndex="rowIndex"
          sortMode="multiple">
            <tr>
              <td>
                <span class="badge-ref">{{ rowIndex + 1 }}</span>
              </td>
              <td>{{ candidat.firstname }} {{ candidat.lastname }}</td>
              <td>{{ candidat.email }}</td>
              <td>{{ candidat.diplome?.name }}</td>
              <td>{{ candidat.phone }}</td>
              <td>
                <app-switch-button
                [Id]="candidat.id"
                [default]="candidat.is_private"
                (checked)="updateCandidatStatus(candidat.id, true)"
                (unchecked)="updateCandidatStatus(candidat.id, false)"
              ></app-switch-button>
              </td>
              <td>{{ candidat.created_at | date: 'dd/MM/yyyy' }}</td>
              <td class="text-center">
                <button
                  pButton
                  icon="pi pi-eye"
                  pTooltip="details"
                  tooltipPosition="left"
                  class="btn-icon btn-icon--outlin-primary"
                  (click)="candidatDetails(candidat.id)"
                ></button>
                <button
                type="button"
                pButton
                icon="pi pi-pencil"
                pTooltip="Modifier"
                tooltipPosition="left"
                class="btn-icon btn-icon--outlin-primary"
                (click)="updateCandidat(candidat)"
              ></button>
                <button
                  type="button"
                  pTooltip="Supprimer"
                  tooltipPosition="left"
                  pButton
                  class="btn-icon btn-icon--outlin-primary"
                  icon="pi pi-trash"
                  (click)="deleteCandidat(candidat)"
                ></button>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr *ngIf="!loading && candidats.length === 0">
              <td colspan="8" class="text-center">Aucun candidat trouvé</td>
            </tr>
            <tr *ngIf="loading">
              <td colspan="8">
                <p-skeleton width="100%" height="2rem"></p-skeleton>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<app-add-candidat
  [(show)]="addCandidat"
  (success)="CandidatAdded()"
  (close)="closeAddCandidat()"
></app-add-candidat>
