
<div class="choice-container">
    <div class="choice-box">
        <img src="image/femme.jpg" alt="Recruteur" />
        <h2>Je recherche du personnel</h2>
      <p>
        Réservez des assistants étudiants, des assistants d'entrepôt, des caissiers et des hôtesses dans toute Tunisie.
      </p>
      <button class="btn " [routerLink]="['/home/homeRegister/reservation']">
        ➜ Demande de réservation sans engagement</button>
    </div>
  
    <div class="choice-box">
      <img src="image/femme1.jpg" alt="Candidat" />
      <h2>Je cherche du travail</h2>
      <p>
        Obtenez des emplois à temps partiel bien rémunérés en tant qu'hôtesse, promotrice, etc. pour
        <strong>un salaire horaire de 500 DT à 900 DT</strong>.
      </p>
      <button class="btn " [routerLink]="['/home/homeRegister/inscription']">
        ➜ Inscrivez-vous et obtenez des emplois
      </button>
     
    </div>
  </div>
  