<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <!-- Logo et Nom (Gauche) -->
      <div class="footer-brand">
        <h2>PocketJob</h2>
        <p>Votre agence d'emplois temporaires</p>
      </div>

      <!-- Liens Sociaux (Centrés) -->
      <div class="social-links">
        <a href="#" class="social-icon facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="social-icon instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="social-icon twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="social-icon linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>

      <!-- Contact (Droite) -->
      <div class="contact-info">
        <p><i class="bx bx-phone"></i> +216 99 123 456</p>
        <p><i class="bx bx-envelope"></i> contactpocketjob.com</p>
        <p><i class="bx bx-location-plus"></i> Tunis-Monastir</p>
        <p><i class="bx bx-time"></i> Lundi - Vendredi: 9h - 18h</p>
         <!-- Ajout des heures d'ouverture -->
      </div>
    </div>

    <!-- À propos -->
    <div class="about-pj">
      <h4>À propos de PocketJob</h4>
      <p>PocketJob est une plateforme en ligne dédiée <br>
         à la mise en relation rapide entre les employeurs <br>
         et les candidats pour des emplois temporaires. <br>
         Que ce soit pour des événements ou des missions <br>
         ponctuelles, nous offrons une solution efficace <br>
         pour répondre aux besoins en personnel à court terme.</p>
    </div>

   

    <!-- Liens supplémentaires -->
    <div class="footer-links">
      <a href="#">Mentions légales</a>
      <a href="#">Politique de confidentialité</a>
      <a href="#">FAQ</a>
    </div>

    <div class="footer-bottom">
      <p>&copy; 2025 PocketJob. Tous droits réservés.</p>
    </div>
  </div>
</footer>
