<div class="sidebar-wrapper">
  <div class="sidebar-area" [ngClass]="status ? 'active' : ''">
    <div class="sidebar-area_top">
      <nav>
        <!-- PocketJob -->
        <a
          class="nav-link"
          routerLinkActive="nav-link-active"
          routerLink="/dashboard"
          [routerLinkActiveOptions]="{ exact: false }"
          (click)="showList('pocketjob'); closeFilters()"
        >
          <span class="nav-link-icon home"></span>
          <span class="nav-link-txt">PocketJob</span>
        </a>

        <!-- Utilisateurs -->
        <a
          class="nav-link"
          routerLinkActive="nav-link-active"
          routerLink="/dashboard/users"
          [routerLinkActiveOptions]="{ exact: false }"
          (click)="showList('users'); closeFilters()"
        >
          <span class="nav-link-icon users"></span>
          <span class="nav-link-txt">Utilisateurs</span>
        </a>
        <!-- Offres d'emploi -->
        <a
          class="nav-link"
          routerLinkActive="nav-link-active"
          routerLink="/dashboard/offre-emploi"
          [routerLinkActiveOptions]="{ exact: false }"
          (click)="showList('offre-emploi'); closeFilters()"
        >
          <span class="nav-link-icon kit-compta"></span>
          <span class="nav-link-txt">Offres d'emploi</span>
        </a>
        <!-- Candidature -->
        <a
          class="nav-link"
          routerLinkActive="nav-link-active"
          routerLink="/dashboard/candidature"
          [routerLinkActiveOptions]="{ exact: false }"
          (click)="showList('candidature'); closeFilters()"
        >
          <span class="nav-link-icon candidature"></span>
          <span class="nav-link-txt"> Candidature </span>
        </a>

        <!-- Actualités -->
        <a
          class="nav-link"
          routerLinkActive="nav-link-active"
          routerLink="/dashboard/all-news/categories"
          aria-label="Section Actualités"
          (click)="showList('news'); closeFilters()"
        >
          <span class="nav-link-icon all-news"></span>
          <span class="nav-link-txt">Actualités</span>
        </a>



        <!-- Rendez Vous -->
        <a
          class="nav-link"
          routerLinkActive="nav-link-active"
          routerLink="/dashboard/appointments"
          aria-label="Section Actualités"
          (click)="showList('news'); closeFilters()"
        >
          <span class="nav-link-icon rendez-vous"></span>
          <span class="nav-link-txt">Rendez-vous</span>
        </a>

        <!-- Candidature -->
        <a
          class="nav-link"
          routerLinkActive="nav-link-active"
          routerLink="/dashboard/publicites"
          [routerLinkActiveOptions]="{ exact: false }"
          (click)="showList('publicites'); closeFilters()"
        >
          <span class="nav-link-icon publicites"></span>
          <span class="nav-link-txt"> Publicites </span>
        </a>

        
        

      </nav>
    </div>
    <div class="sidebar-area_bottom open-sidebar" (click)="clickEvent()">
      <em class="pi pi-angle-right"></em>
    </div>
  </div>




  <div class="sidebar-filter">
    <!-- PocketJob Filter -->
    <div class="sidebar-filter-style gestion-des-modeles-filter" [ngClass]="showListPocketJob ? 'active' : ''">
      <button class="overlay-close" (click)="overlayStatusFct()"></button>
      <nav>
        <ul class="nav-list filtres-nav-list">
          <li>
            <a
              class="icon posts"
              routerLinkActive="nav-link-active"
              routerLink="/dashboard/pocketjob/postes"
              [routerLinkActiveOptions]="{ exact: false }"
              (click)="closeFilters()"
              >Posts</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Users Filter -->
    <div class="sidebar-filter-style gestion-des-modeles-filter" [ngClass]="showListUsers ? 'active' : ''">
      <button class="overlay-close" (click)="overlayStatusFct()"></button>
      <nav>
        <ul class="nav-list filtres-nav-list">
          <li>
            <a
              class="icon candidates"
              routerLinkActive="nav-link-active"
              routerLink="/dashboard/users/candidats"
              [routerLinkActiveOptions]="{ exact: false }"
              (click)="closeFilters()"
              >Candidats</a>
              
            
          </li>
          <li>
            <a
              class="icon employers"
              routerLinkActive="nav-link-active"
              routerLink="/dashboard/users/employers"
              [routerLinkActiveOptions]="{ exact: false }"
              (click)="closeFilters()"
              >Employeurs</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Job Offers Filter -->
    <div class="sidebar-filter-style gestion-des-modeles-filter" [ngClass]="showListOffres ? 'active' : ''">
      <button class="overlay-close" (click)="overlayStatusFct()"></button>
      <nav>
        <ul class="nav-list filtres-nav-list">
          <li>
            <a
              class="icon modules"
              routerLinkActive="nav-link-active"
              routerLink="/dashboard/offre-emploi/modules"
              [routerLinkActiveOptions]="{ exact: false }"
              (click)="closeFilters()"
              >Modules d'emploi</a>
          </li>
          <!--
          <li>
            <a
              class="icon qcms"
              routerLinkActive="nav-link-active"
              routerLink="/dashboard/offre-emploi/qcms"
              [routerLinkActiveOptions]="{ exact: false }"
              (click)="closeFilters()"
              >QCMs</a>
          </li>
          -->
          <li>
            <a
              class="icon fiche"
              routerLinkActive="nav-link-active"
              routerLink="/dashboard/offre-emploi/fiches"
              [routerLinkActiveOptions]="{ exact: false }"
              (click)="closeFilters()"
              >Fiches de Poste</a>
          </li>
        </ul>
      </nav>
    </div>
   


    <!--News actualité -->

      <!-- News Filter -->
    <div class="sidebar-filter-style gestion-des-modeles-filter" [ngClass]="showListNews ? 'active' : ''">
      <button class="overlay-close" (click)="overlayStatusFct()" aria-label="Fermer le filtre actualités"></button>
      <nav>
        <ul class="nav-list filtres-nav-list">
          <li>
            <a
              class="icon categories-blogs"
              routerLinkActive="nav-link-active"
              routerLink="/dashboard/all-news/categories"
              [routerLinkActiveOptions]="{ exact: false }"
              (click)="closeFilters()"
              >Catégories</a>
          </li>
          <li>
            <a
              class="icon medias"
              routerLinkActive="nav-link-active"
              routerLink="/dashboard/all-news/medias"
              [routerLinkActiveOptions]="{ exact: false }"
              (click)="closeFilters()"
              >Médias</a>
          </li>
          <li>
            <a
              class="icon news"
              routerLinkActive="nav-link-active"
              routerLink="/dashboard/all-news/newposte"
              [routerLinkActiveOptions]="{ exact: false }"
              (click)="closeFilters()"
              >Nouveaux Posts</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div
  class="overlay"
  [ngClass]="overlayStatus ? 'active' : ''"
  (click)="overlayStatusFct()"
>
  <a class="overlay-close"></a>
</div>
