<p-dialog
  header="Ajouter un employeur"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '80vw' }"
  [draggable]="false"
  (onHide)="close()"
>

     <form [formGroup]="employerForm" (ngSubmit)="submitForm()">
            <div class="row">
              <!-- Image + Statut -->
              <div class="col-lg-4 pe-md-0">
                <div class="card form-area bg-white">
                  <div class="card-body">
                    <div class="form-style-1">
                      <label class="form-label">Image</label>
                      <div *ngIf="imageUrl" class="gallerie">
                        <div class="gallerie__item">
                          <img class="img-image img-thumbnail" [src]="imageUrl" alt="Image de l'employeur">
                          <i class="pi pi-times" (click)="removeFile()"></i>
                        </div>
                      </div>
                      <input id="image" type="file" class="input-file image" accept="image/*" (change)="uploadFile($event)">
                      <label for="image">{{ employerForm.controls['image'].value?.name || 'Choisir une image' }}</label>
                      <span class="error" *ngIf="employerForm.get('image')?.invalid && isSubmitted">Image est requise</span>
                    </div>

                    <!-- Statut -->
<div class="form-style-1">
  <label class="form-label">Statut</label>
  <p-dropdown
    [options]="allStatus"
    formControlName="status"
    optionLabel="name"
    optionValue="value"
    placeholder="Sélectionner un statut">
  </p-dropdown>
  <span class="error" *ngIf="employerForm.get('status')?.invalid && isSubmitted">
    Statut requis
  </span>
</div>
                  </div>
                </div>
              </div>

              <!-- Infos -->
              <div class="col-lg-8 text-input-blc">
                <div class="card form-area bg-white">
                  <div class="card-body">

                                        <!-- Nom -->
                    <div class="form-style-1">
                      <label class="form-label">Nom</label>
                      <input type="text" placeholder="Nom de l'entreprise *" formControlName="lastname" />
                      <span class="error" *ngIf="employerForm.get('lastname')?.invalid && isSubmitted">Nom est requis</span>
                   
                    </div>

                    <!-- Prénom ou Nom Contact -->
                  <div class="form-style-1">
                    <label class="form-label">Contact</label>
                    <input type="text" placeholder="Personne de contact" formControlName="firstname" />
                  </div>
                    

                    <!-- Domaine -->
                    <div class="form-style-1">
                      <label class="form-label">Domaine </label>
                      <input type="text" placeholder="Domaine d'activité *" formControlName="domaine">
                      <span class="error" *ngIf="employerForm.get('domaine')?.invalid && isSubmitted">Domaine est requis</span>
                    </div>

                    <!-- Type Professionnel -->
                    <div class="form-style-1">
                      <label class="form-label">Type Professionnel</label>
                      <select formControlName="typeProfessionnel">
                        <option value="industrie">Industrie</option>
                        <option value="commerce">Commerce</option>
                        <option value="services">Services</option>
                        <option value="informatique">Informatique</option>
                        <option value="restauration">Restauration</option>
                        <option value="sante">Santé</option>
                        <option value="autre">autre</option>
                      </select>
                      <span class="error" *ngIf="employerForm.get('typeProfessionnel')?.invalid && isSubmitted">Type est requis</span>
                    </div>
                    
                    <div class="form-style-1">
                      <label class="form-label">E-mail</label>
                      <input type="email" placeholder="E-mail *" formControlName="email" />
                      <span class="error" *ngIf="employerForm.get('email')?.invalid && isSubmitted">Email est requis</span>
                    </div>
                    

                   <!-- Diplôme Upload -->
                  <div class="form-style-1">
                    <label class="form-label">Diplôme (PDF)</label>
                    <input type="file" accept=".pdf" (change)="onFileChange($event)" />
                    <div class="error" *ngIf="!selectedFile && isSubmitted">Le fichier est requis</div>
                    <small *ngIf="selectedFile">📄 {{ selectedFile.name }}</small>
 </div>


                    <!-- Adresse -->
                    <div class="form-style-1">
                      <label class="form-label">Adresse</label>
                      <input type="text" placeholder="Adresse de l'entreprise *" formControlName="adresse">
                      <span class="error" *ngIf="employerForm.get('adresse')?.invalid && isSubmitted">Adresse est requise</span>
                    </div>
                    
                    <div class="form-style-1">
                      <label class="form-label">Téléphone</label>
                      <input type="text" placeholder="+216..." formControlName="phone" />
                      <span class="error" *ngIf="employerForm.get('phone')?.invalid && isSubmitted">Téléphone requis</span>
                    </div>

                    <!-- Description -->
                    <div class="form-style-1">
                      <label class="form-label">Description</label>
                      <textarea placeholder="Description de l'entreprise" formControlName="description"></textarea>
                      <span class="error" *ngIf="employerForm.get('description')?.invalid && isSubmitted">Description est requise</span>
                    </div>

                     <!-- qualification -->
                     <div class="form-style-1">
                      <label class="form-label">Qualification</label>
                      <textarea placeholder="qualification de l'entreprise" formControlName="qualification"></textarea>
                      <span class="error" *ngIf="employerForm.get('qualification')?.invalid && isSubmitted">Qualification est requise</span>
                    </div>
 

                    <button [disabled]="loading" type="submit" class="btn btn-primary submit">
                      <i *ngIf="loading" class="pi pi-spin pi-spinner"></i> Ajouter
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
      </p-dialog>
