<!--<header class="navbar-employer">
    <div class="left-section">
      <a class="site-name" routerLink="/dashboard">
        PocketJob
      </a>
    </div>
  
    <div class="right-section">
      <div class="info-bloc">
        <span class="employer-name">{{ employerName }}</span>
        <span class="status connected">Connecté</span>
        <span class="address">{{ employerAddress }}</span>
      </div>
  
      <div class="dropdown">
        <button class="user-icon" (click)="toggleDropdownList()"></button>
        <div class="dropdown-list" [class.active]="dropdownOpen">
          <button class="logout-btn" (click)="logout()">Déconnexion</button>
          </div>
      </div>
    </div>
  </header>
-->