.form-style-1 {
    margin-bottom: 1rem;
  }
  .required-field {
    font-size: 11px;
    line-height: 10px;
    color: #000;
    font-family: "Poppins-Medium", serif;
    font-weight: 300;
    text-align: left;
    margin: 15px 0 0;
    display: block;
  }