<div class="container">
    <div class="list-orders-item-area add-chapter">
        <div class="introduction-area p-d-flex p-jc-between">
            <div class="big-title-blc">
                <a class="btn-back" pButton pRipple icon="pi pi-arrow-left" (click)="backToList()"></a>
   
                <h1 class="title">Ajouter Offre d'emploi</h1>   
                <div *ngIf="overlayStatus" class="overlay">
                  <!-- Contenu de ton overlay ici -->
                  <button class="overlay-close" (click)="overlayStatusFct()"></button>
                </div>
            </div>
        </div>
    
        <div class="table-area">
            <form [formGroup]="addModuleForm">
                <div class="row">
                    <div class="col-lg-4 pe-md-0">
                        <div class="card form-area bg-white part-one">
                            <div class="card-body">
                                <!-- Diplome ( CV ° ) CV -->
                        <div class="form-style-1">
                            <label class="form-label"> CV (PDF ou Word)</label>
                        </div>
                        <div class="form-style-1" *ngIf="cvFileName">
                            <p><i class="pi pi-file"></i> {{ cvFileName }}</p>
                            <i class="pi pi-times" (click)="removeCV()"></i>
                        </div>
                        
                        <div class="form-style-1">
                            <input
                            id="cv"
                            type="file"
                            class="input-file"
                            accept=".pdf,.doc,.docx"
                            (change)="uploadCV($event)">
                            <label for="cv">{{ cvFileName || 'Sélectionner un fichier' }}</label>
                        </div>
                        

                               <!-- Type d'Emploi -->
<div class="form-style-1">
    <label class="form-label">Type d'emploi</label>
    <input type="text" placeholder="Ex: Stage, Freelance..." formControlName="job_type" />
  </div>
  
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-8">
                        <div class="card form-area bg-white">
                            <div class="card-body">
                                <!-- Image -->
                                <div class="form-style-1">
                                    <label class="form-label">Image</label>
                                </div>
                                <div class="form-style-1" *ngIf="imageUrl">
                                    <div class="gallerie">
                                        <div class="gallerie__item">
                                            <img class="img-image" [src]="imageUrl" alt="image du module">
                                            <i class="pi pi-times" (click)="removeImage()"></i>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="form-style-1">
                                    <input
                                        id="image"
                                        type="file"
                                        placeholder="Image"
                                        class="input-file image"
                                        accept="image/png, image/jpeg"
                                        (change)="uploadImage($event)">
                                    <label for="image" *ngIf="addModuleForm.controls['image'].value">
                                        {{ addModuleForm.controls['image'].value.name }}
                                    </label>
                                    <label for="image" *ngIf="!addModuleForm.controls['image'].value">
                                        Image
                                    </label>
                                </div>
    
                                <!-- Titre -->
                                <div class="form-style-1">
                                    <label class="form-label">Titre</label>
                                    <input type="text" placeholder="Titre *" formControlName="name">
                                </div>
    
                                <!-- Durée du contrat -->
                                <div class="form-style-1">
                                    <label class="form-label">Durée du contrat</label>
                                    <input type="text" placeholder="Durée du contrat (en mois)" formControlName="contract_duration">
                                    <span class="error" *ngIf="addModuleForm.controls['contract_duration'].hasError('required') && isSubmitted">
                                        Champ obligatoire !
                                    </span>
                                </div>
    
                                <!-- Salaire -->
                                <div class="form-style-1">
                                    <label class="form-label">Salaire</label>
                                    <input type="number" placeholder="Rémunération en €" formControlName="salary">
                                    <span class="error" *ngIf="addModuleForm.controls['salary'].hasError('required') && isSubmitted">
                                        Champ obligatoire !
                                    </span>
                                </div>
    
                                <!-- Compétences requises -->
                                <div class="form-style-1">
                                    <label class="form-label">Compétences requises</label>
                                    <textarea placeholder="Compétences requises pour ce poste" formControlName="required_skills"></textarea>
                                </div>
    
                                <!-- Lieu de travail -->
                                <div class="form-style-1">
                                    <label class="form-label">Lieu de travail</label>
                                    <input type="text" placeholder="Lieu de travail" formControlName="work_location">
                                    <span class="error" *ngIf="addModuleForm.controls['work_location'].hasError('required') && isSubmitted">
                                        Champ obligatoire !
                                    </span>
                                </div>
    
                                <!-- Description -->
                                <div class="form-style-1">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Description" formControlName="description"></textarea>
                                </div>
    
                                <!-- Bouton Ajouter -->
                                <div class="card-footer bg-white">
                                    <p-button
                                        [disabled]="loadingAdd"
                                        [icon]="loadingAdd ? 'pi pi-spin pi-spinner' : ''"
                                        label="Ajouter"
                                        styleClass="btn btn-primary submit"
                                        (onClick)="submitForm()">
                                    </p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
