<div class="list-orders-item-area users-area">
  <div class="introduction-area">
    <div class="p-d-flex p-jc-between">
      <div class="big-title-blc">
        <h1 class="big-title">Liste des utilisateurs</h1>
      </div>
      <div class="btns-group two-btns">
        <a
          class="btn-primary"
          routerLink="/dashboard/users/add-user"
          pButton
          pRipple
          icon="pi pi-plus"
          (click)="displayAddUser()"
        > Ajouter </a>
      </div>
    </div>
  </div>

  <div class="table-area">
    <div class="card">
      <div class="card-body">
        <p-table
          [value]="users"
          [paginator]="true"
          [rows]="10"
          [totalRecords]="total"
          (onLazyLoad)="lazyLoad($event)"
        >
        <ng-template pTemplate="caption">
          <div class="recherche-bloc form-area">
            <span class="p-input-icon-left ml-auto form-style-1">
              <input
                type="text"
                (input)="search($event)"
                placeholder="Mot-clé de recherche"
              />
            </span>
          </div>
        </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Référence</th>
              <th>Nom</th>
              <th>Email</th>
              <th>Diplôme (CV)</th>
              <th>Statut</th>
              <th>Date de création</th>
              <th class="text-center">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.firstname }} {{ user.lastname }}</td>
              <td>{{ user.email }}</td>
              <td>
                <input type="file" (change)="uploadDiplome($event, user.id)" />
              </td>
              <td>
                <p-dropdown
                  [options]="allStatus"
                  (onChange)="updateUserStatus(user.id, $event)"
                  [ngModel]="user.status"
                  optionLabel="name"
                  optionValue="value"
                ></p-dropdown>
              </td>
              <td>{{ user.created_at | date: "dd/MM/yyyy" }}</td>


              <td class="text-center">
                <button
                  type="button"
                  pButton
                  class="btn-icon btn-icon--outlin-primary"
                  icon="pi pi-eye"
                  (click)="userDetails(user.id)"
                ></button>
                <button
                  type="button"
                  pButton
                  class="btn-icon btn-icon--outlin-primary"
                  icon="pi pi-pencil"
                  (click)="displayUpdateUser(user)"
                ></button>
                <button
                  type="button"
                  pButton
                  class="btn-icon btn-icon--outlin-primary"
                  icon="pi pi-trash"
                  (click)="toggleDeleteUser(user)"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <p-dialog header="Supprimer utilisateur" [(visible)]="showDelete" [modal]="true" [style]="{ width: '500px' }">
    <div class="create-client-content">
      <p>Êtes-vous sûr de vouloir supprimer cet utilisateur ?</p>
    </div>
    <ng-template pTemplate="footer">
      <button class="btn btn-cancel" (click)="toggleDeleteUser()">Annuler</button>
      <button class="btn btn-primary" (click)="deleteUser()">Supprimer</button>
    </ng-template>
  </p-dialog>
</div>







































