<!-- navbar.component.html -->
<header class="navbar-modern">
  <div class="navbar-left">
    <a class="logo" routerLink="/dashboardCandidat">
      <img src="/logo-pocketJob.png" alt="PocketJob Logo" class="logo-img" />

    </a>
  </div>

  <div class="navbar-center">
    <i class="fa fa-phone"></i>
    <span>+216 70 123 456</span>
  </div>

  <div class="navbar-right">
    <div class="user-info">
      <i class="fa fa-user"></i>
      <span>candidatexample.com</span>
    </div>
    <div class="status active">Validé</div>
  </div>
</header>