<div class="list-orders-item-area"> 
  <div class="introduction-area">
    <div class="p-d-flex p-jc-between">
      <div class="big-title-blc">
        <h1 class="big-title">Configurations</h1>
      </div>
    </div>
  </div>

  <div class="table-area">
    <div class="card">
      <div class="card-body">
        <p-tabView>
          <!-- Onglet Configurations -->
          <p-tabPanel header="Configurations">
            <form class="form-area">
              <div class="section">
                <h5 class="section-title">Activation SMS</h5>
                <div class="config-item">
                  <div class="d-flex align-items-center">
                    <p-checkbox [(ngModel)]="sms" name="sms" id="sms" [binary]="true" (onChange)="onSmsStatusChange()"></p-checkbox>
                    <label for="sms" class="form-label">SMS</label>
                  </div>
                  <p-button [disabled]="loading" [icon]="loading ? 'pi pi-spin pi-spinner' : ''" label="Enregistrer" styleClass="btn btn-primary bottom" (onClick)="configSms()"></p-button>
                </div>
              </div>

              <div class="section">
                <h5 class="section-title">Activation ChatBot</h5>
                <div class="config-item">
                  <div class="d-flex align-items-center">
                    <p-checkbox [(ngModel)]="chatbot" name="chatbot" id="chatbot" [binary]="true" (onChange)="onChatBotStatusChange()"></p-checkbox>
                    <label for="chatbot" class="form-label">ChatBot</label>
                  </div>
                  <p-button [disabled]="loadingCB" [icon]="loadingCB ? 'pi pi-spin pi-spinner' : ''" label="Enregistrer" styleClass="btn btn-primary bottom" (onClick)="configChatBot()"></p-button>
                </div>
              </div>
            </form>
          </p-tabPanel>

          <!-- Onglet Versions -->
          <p-tabPanel header="Versions">
            <form class="form-area">
              <div class="form-style-1">
                <label for="iosVersion">Version Web (Desktop)</label>
                <input name="iosVersion" [(ngModel)]="iosVersion" placeholder="1.0.0" pInputText />
              </div>
              <div class="form-style-1 d-flex align-items-center">
                <p-checkbox [(ngModel)]="iosRequired" name="ios-required" id="ios-required" [binary]="true"></p-checkbox>
                <label for="ios-required" class="form-label">Mise à jour obligatoire Desktop ?</label>
              </div>

              <div class="form-style-1">
                <label for="androidVersion">Version Web (Mobile)</label>
                <input name="androidVersion" [(ngModel)]="androidVersion" placeholder="1.0.0" pInputText />
              </div>
              <div class="form-style-1 d-flex align-items-center">
                <p-checkbox [(ngModel)]="androidRequired" name="android-required" id="android-required" [binary]="true"></p-checkbox>
                <label for="android-required" class="form-label">Mise à jour obligatoire Mobile ?</label>
              </div>

              <p-button [disabled]="loading" [icon]="loading ? 'pi pi-spin pi-spinner' : ''" label="Enregistrer" styleClass="btn btn-primary bottom" (onClick)="updateVersions()"></p-button>
            </form>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>
